.linkdocs-container {
  width: 94%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.linkdocs-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.linkdocs-card-container {
  display: flex;
  justify-content: space-between;
}

.linkdocs-card {
  padding: 4rem;
  border-radius: 20px;
  background-color: #f5f7f9;
}

.linkdocs-card a {
  color: #9b59b6;
}

.my-1 {
  font-size: 1.3rem;
}

.bg-dark {
  font-size: 1.3rem;
}
