.table-rows {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5rem 1rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}
