.input-journal,
.journal-select {
  border: 1px solid #e7e9ef;
  background-color: #f9fbfc;
  padding: 0.8rem;
  width: 100%;
  color: #838f9b;
  outline-color: #cd9fdf;
  border-radius: 6px;
}

.input-journal:focus {
  border-color: #3498db;
}

.journal-select:focus {
  border-color: #3498db;
}

.input-label-journal {
  margin-right: 2rem;
  width: 78%;
}

.input-label-journal p {
  margin-bottom: 0.5rem;
}

.select-label-journal {
  margin-right: 2rem;
}
